In [2]:
import os
import json
import pandas as pd
import mysql.connector

In [2]:
#aggre_insurance

path1="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/aggregated/insurance/country/india/state/"

agg_insur_list=os.listdir(path1)


columns1={"States":[],"Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}

for state in agg_insur_list:
    cur_states=path1+state+"/"
    agg_year_list=os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_year=cur_states+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            A=json.load(data)

            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json"))) 

aggre_insurance=pd.DataFrame(columns1)

aggre_insurance["States"]= aggre_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_insurance["States"]= aggre_insurance["States"].str.replace("-"," ")
aggre_insurance["States"]= aggre_insurance["States"].str.title()
aggre_insurance["States"]= aggre_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [80]:
aggre_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [3]:
aggre_insurance["Transaction_type"].unique()

array(['Insurance'], dtype=object)

In [4]:
#aggre_transaction
path2 = "C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list = os.listdir(path2)

columns2={"States":[],"Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}

for state in agg_tran_list:
    cur_states=path2+state+"/"
    agg_year_list=os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_year=cur_states+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            B=json.load(data)

            for i in B["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json"))) 

agg_transaction=pd.DataFrame(columns2)

agg_transaction["States"]= agg_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
agg_transaction["States"]= agg_transaction["States"].str.replace("-"," ")
agg_transaction["States"]= agg_transaction["States"].str.title()
agg_transaction["States"]= aggre_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [5]:
agg_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', nan], dtype=object)

In [6]:
agg_transaction["Transaction_type"].unique()

array(['Recharge & bill payments', 'Peer-to-peer payments',
       'Merchant payments', 'Financial Services', 'Others'], dtype=object)

In [4]:
# aggre_user

path3="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path3)

columns3={"States":[],"Years":[], "Quarter":[], "Brands":[], "Transaction_count":[], "Percentage":[]}

for state in agg_user_list:
    cur_states=path3+state+"/"
    agg_year_list=os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_year=cur_states+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            C=json.load(data)

            try:
                for i in C["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json"))) 

            except:
                pass

aggre_user=pd.DataFrame(columns3)

aggre_user["States"]= aggre_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_user["States"]= aggre_user["States"].str.replace("-"," ")
aggre_user["States"]= aggre_user["States"].str.title()
aggre_user["States"]= aggre_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [15]:
aggre_user

                 States Years  Quarter   Brands  Transaction_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018        1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018        1     Vivo                982    0.145697
3     Andaman & Nicobar  2018        1     Oppo                501    0.074332
4     Andaman & Nicobar  2018        1  OnePlus                332    0.049258
...                 ...   ...      ...      ...                ...         ...
6727        West Bengal  2022        1   Lenovo             330017    0.015056
6728        West Bengal  2022        1  Infinix             284678    0.012987
6729        West Bengal  2022        1     Asus             280347    0.012790
6730        West Bengal  2022        1    Apple             277752    0.012671
6731        West Bengal  2022        1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [7]:
# map_insurance

path4="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list = os.listdir(path4)

columns4={"States":[],"Years":[], "Quarter":[], "Districts":[], "Transaction_count":[], "Transaction_amount":[]}

for state in map_insur_list:
    cur_states=path4+state+"/"
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+"/"
        map_file_list=os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            D=json.load(data)
            
            for i in D["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns4["Districts"].append(name)
                columns4["Transaction_count"].append(count)
                columns4["Transaction_amount"].append(amount)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))

map_insurance= pd.DataFrame(columns4)

map_insurance["States"]= map_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_insurance["States"]= map_insurance["States"].str.replace("-"," ")
map_insurance["States"]= map_insurance["States"].str.title()
map_insurance["States"]= map_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [ ]:
map_insurance["Transaction_type"].unique()

In [6]:
#map_transaction

path5="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path4)

columns5={"States":[],"Years":[], "Quarter":[], "Districts":[], "Transaction_count":[], "Transaction_amount":[]}

for state in map_tran_list:
    cur_states=path5+state+"/"
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+"/"
        map_file_list=os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            E=json.load(data)
            
            for i in E["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns5["Districts"].append(name)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
            
map_transaction=pd.DataFrame(columns5)

map_transaction["States"]= map_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_transaction["States"]= map_transaction["States"].str.replace("-"," ")
map_transaction["States"]= map_transaction["States"].str.title()
map_transaction["States"]= map_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [99]:
map_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [7]:
#map_user

path6="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path6)

columns6={"States":[],"Years":[], "Quarter":[], "Districts":[], "RegisteredUsers":[], "AppOpens":[]}

for state in map_user_list:
    cur_states=path6+state+"/"
    map_year_list=os.listdir(cur_states)
    
    for year in map_year_list:
        cur_year=cur_states+year+"/"
        map_file_list=os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            F=json.load(data)
            
            for i in F["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                columns6["Districts"].append(district)
                columns6["RegisteredUsers"].append(registeredUsers)
                columns6["AppOpens"].append(appOpens)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_user=pd.DataFrame(columns6)

map_user["States"]= map_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user["States"]= map_user["States"].str.replace("-"," ")
map_user["States"]= map_user["States"].str.title()
map_user["States"]= map_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [101]:
map_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [3]:
#Top_insurance

path7= "C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/top/insurance/country/india/state/"
top_insur_list = os.listdir(path7)

columns7={"States":[],"Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insur_list:
    cur_states=path7+state+"/"
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+"/"
        top_file_list=os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            G=json.load(data)
            
            for i in G["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns7["Pincodes"].append(entityname)
                columns7["Transaction_count"].append(count)
                columns7["Transaction_amount"].append(amount)
                columns7["States"].append(state)
                columns7["Years"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))

top_insurance= pd.DataFrame(columns7)

top_insurance["States"]= top_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_insurance["States"]= top_insurance["States"].str.replace("-"," ")
top_insurance["States"]= top_insurance["States"].str.title()
top_insurance["States"]= top_insurance["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [6]:
top_insurance

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,744301,3,565.0
1,Andaman & Nicobar,2020,2,744104,2,513.0
2,Andaman & Nicobar,2020,2,744101,1,282.0
3,Andaman & Nicobar,2020,3,744112,9,3432.0
4,Andaman & Nicobar,2020,3,744105,7,3948.0
...,...,...,...,...,...,...
5950,West Bengal,2024,2,700091,486,769448.0
5951,West Bengal,2024,2,700015,463,553207.0
5952,West Bengal,2024,2,732101,435,540040.0
5953,West Bengal,2024,2,700006,423,593566.0
5954,West Bengal,2024,2,700150,408,510118.0

In [103]:
top_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [133]:
top_insurance

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,744301,711967,565.0
1,Andaman & Nicobar,2020,2,744104,711967,513.0
2,Andaman & Nicobar,2020,2,744101,711967,282.0
3,Andaman & Nicobar,2020,3,744112,711967,3432.0
4,Andaman & Nicobar,2020,3,744105,711967,3948.0
...,...,...,...,...,...,...
5950,West Bengal,2024,2,700091,711967,769448.0
5951,West Bengal,2024,2,700015,711967,553207.0
5952,West Bengal,2024,2,732101,711967,540040.0
5953,West Bengal,2024,2,700006,711967,593566.0
5954,West Bengal,2024,2,700150,711967,510118.0

In [11]:
#top_transaction

path8= "C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/top/transaction/country/india/state/"
top_tran_list=os.listdir(path8)

columns8={"States":[],"Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_tran_list:
    cur_states=path8+state+"/"
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+"/"
        top_file_list=os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            H=json.load(data)
            
            for i in H["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns8["Pincodes"].append(entityname)
                columns8["Transaction_count"].append(count)
                columns8["Transaction_amount"].append(amount)
                columns8["States"].append(state)
                columns8["Years"].append(year)
                columns8["Quarter"].append(int(file.strip(".json")))

top_transaction= pd.DataFrame(columns8)

top_transaction["States"]= top_transaction["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transaction["States"]= top_transaction["States"].str.replace("-"," ")
top_transaction["States"]= top_transaction["States"].str.title()
top_transaction["States"]= top_transaction["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [105]:
top_transaction["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [21]:
#top_user

path9="C:/Users/91886/Desktop/My Computer/Project_guvi/pulse/data/top/user/country/india/state/"
top_user_list= os.listdir(path9)

columns9={"States":[],"Years":[], "Quarter":[], "Pincodes":[], "RegisteredUsers":[]}

for state in top_user_list:
    cur_states=path9+state+"/"
    top_year_list=os.listdir(cur_states)
    
    for year in top_year_list:
        cur_year=cur_states+year+"/"
        top_file_list=os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,"r")

            I=json.load(data)
            
            for i in I["data"]["pincodes"]:
                entityname = i["name"]
                registeredusers = i["registeredUsers"]
                columns9["Pincodes"].append(entityname)
                columns9["RegisteredUsers"].append(registeredusers)
                columns9["States"].append(state)
                columns9["Years"].append(year)
                columns9["Quarter"].append(int(file.strip(".json")))

top_user= pd.DataFrame(columns9)

top_user["States"]= top_user["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user["States"]= top_user["States"].str.replace("-"," ")
top_user["States"]= top_user["States"].str.title()
top_user["States"]= top_user["States"].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [22]:
top_user

                 States Years  Quarter Pincodes  RegisteredUsers
0     Andaman & Nicobar  2018        1   744103             1608
1     Andaman & Nicobar  2018        1   744101             1108
2     Andaman & Nicobar  2018        1   744105             1075
3     Andaman & Nicobar  2018        1   744102             1006
4     Andaman & Nicobar  2018        1   744104              272
...                 ...   ...      ...      ...              ...
9277        West Bengal  2024        2   700015           136835
9278        West Bengal  2024        2   721101           132872
9279        West Bengal  2024        2   742304           131799
9280        West Bengal  2024        2   700150           128721
9281        West Bengal  2024        2   700091           127531

[9282 rows x 5 columns]

In [107]:
top_user["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [11]:
# Table Creation

#sql connection
mydb= mysql.connector.connect(host= "localhost",
                              user= "root",                        
                              password= "root",
                              database= "phonepe_data"
)
cursor= mydb.cursor()

# aggregated_insurance_table
create_query_1= '''CREATE TABLE if not exists aggregated_insurance(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Transaction_type varchar(255),
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_1)
mydb.commit()

insert_query_1= '''INSERT INTO aggregated_insurance(States, Years, Quarter,Transaction_type,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= aggre_insurance.values.tolist()
cursor.executemany(insert_query_1, data)
mydb.commit()

In [113]:
aggre_insurance.values.tolist()

[['Andaman & Nicobar', '2020', 2, 'Insurance', 6, 1360.0],
 ['Andaman & Nicobar', '2020', 3, 'Insurance', 41, 15380.0],
 ['Andaman & Nicobar', '2020', 4, 'Insurance', 124, 157975.0],
 ['Andaman & Nicobar', '2021', 1, 'Insurance', 225, 244266.0],
 ['Andaman & Nicobar', '2021', 2, 'Insurance', 137, 181504.0],
 ['Andaman & Nicobar', '2021', 3, 'Insurance', 230, 305235.0],
 ['Andaman & Nicobar', '2021', 4, 'Insurance', 757, 1056380.0],
 ['Andaman & Nicobar', '2022', 1, 'Insurance', 768, 1131287.0],
 ['Andaman & Nicobar', '2022', 2, 'Insurance', 501, 779740.0],
 ['Andaman & Nicobar', '2022', 3, 'Insurance', 643, 902466.0],
 ['Andaman & Nicobar', '2022', 4, 'Insurance', 901, 1441210.0],
 ['Andaman & Nicobar', '2023', 1, 'Insurance', 1004, 1439198.0],
 ['Andaman & Nicobar', '2023', 2, 'Insurance', 768, 1233395.0],
 ['Andaman & Nicobar', '2023', 3, 'Insurance', 795, 1251145.0],
 ['Andaman & Nicobar', '2023', 4, 'Insurance', 1145, 1757821.0],
 ['Andaman & Nicobar', '2024', 1, 'Insurance', 1371, 1964556.0],
 ['Andaman & Nicobar', '2024', 2, 'Insurance', 1097, 1744694.0],
 ['Andhra Pradesh', '2020', 2, 'Insurance', 22104, 3982391.0],
 ['Andhra Pradesh', '2020', 3, 'Insurance', 49812, 12426481.0],
 ['Andhra Pradesh', '2020', 4, 'Insurance', 21464, 12985632.0],
 ['Andhra Pradesh', '2021', 1, 'Insurance', 22105, 12749874.0],
 ['Andhra Pradesh', '2021', 2, 'Insurance', 33205, 22730687.0],
 ['Andhra Pradesh', '2021', 3, 'Insurance', 23075, 19914338.0],
 ['Andhra Pradesh', '2021', 4, 'Insurance', 25423, 31610335.0],
 ['Andhra Pradesh', '2022', 1, 'Insurance', 29954, 42648157.0],
 ['Andhra Pradesh', '2022', 2, 'Insurance', 32185, 41708072.0],
 ['Andhra Pradesh', '2022', 3, 'Insurance', 39301, 48791931.0],
 ['Andhra Pradesh', '2022', 4, 'Insurance', 44329, 58043239.0],
 ['Andhra Pradesh', '2023', 1, 'Insurance', 34920, 51963355.0],
 ['Andhra Pradesh', '2023', 2, 'Insurance', 36376, 52067478.0],
 ['Andhra Pradesh', '2023', 3, 'Insurance', 43150, 57802396.0],
 ['Andhra Pradesh', '2023', 4, 'Insurance', 41798, 62342423.0],
 ['Andhra Pradesh', '2024', 1, 'Insurance', 46582, 63563802.0],
 ['Andhra Pradesh', '2024', 2, 'Insurance', 42547, 62948281.0],
 ['Arunachal Pradesh', '2020', 2, 'Insurance', 65, 14329.0],
 ['Arunachal Pradesh', '2020', 3, 'Insurance', 135, 39687.0],
 ['Arunachal Pradesh', '2020', 4, 'Insurance', 125, 84247.0],
 ['Arunachal Pradesh', '2021', 1, 'Insurance', 194, 131611.0],
 ['Arunachal Pradesh', '2021', 2, 'Insurance', 204, 224928.0],
 ['Arunachal Pradesh', '2021', 3, 'Insurance', 212, 371051.0],
 ['Arunachal Pradesh', '2021', 4, 'Insurance', 320, 598459.0],
 ['Arunachal Pradesh', '2022', 1, 'Insurance', 355, 894107.0],
 ['Arunachal Pradesh', '2022', 2, 'Insurance', 564, 1360231.0],
 ['Arunachal Pradesh', '2022', 3, 'Insurance', 510, 1300304.0],
 ['Arunachal Pradesh', '2022', 4, 'Insurance', 613, 1464572.0],
 ['Arunachal Pradesh', '2023', 1, 'Insurance', 606, 1747475.0],
 ['Arunachal Pradesh', '2023', 2, 'Insurance', 696, 2095988.0],
 ['Arunachal Pradesh', '2023', 3, 'Insurance', 718, 1904786.0],
 ['Arunachal Pradesh', '2023', 4, 'Insurance', 809, 2105408.0],
 ['Arunachal Pradesh', '2024', 1, 'Insurance', 1100, 2419700.0],
 ['Arunachal Pradesh', '2024', 2, 'Insurance', 1147, 2353015.0],
 ['Assam', '2020', 2, 'Insurance', 978, 210034.0],
 ['Assam', '2020', 3, 'Insurance', 2206, 599450.0],
 ['Assam', '2020', 4, 'Insurance', 2413, 1806801.0],
 ['Assam', '2021', 1, 'Insurance', 3167, 2334419.0],
 ['Assam', '2021', 2, 'Insurance', 3265, 3008122.0],
 ['Assam', '2021', 3, 'Insurance', 4495, 6010865.0],
 ['Assam', '2021', 4, 'Insurance', 8622, 13962068.0],
 ['Assam', '2022', 1, 'Insurance', 16230, 27447766.0],
 ['Assam', '2022', 2, 'Insurance', 9228, 15357811.0],
 ['Assam', '2022', 3, 'Insurance', 14149, 22543564.0],
 ['Assam', '2022', 4, 'Insurance', 18826, 29239168.0],
 ['Assam', '2023', 1, 'Insurance', 22100, 36963888.0],
 ['Assam', '2023', 2, 'Insurance', 16475, 28368139.0],
 ['Assam', '2023', 3, 'Insurance', 22593, 35618158.0],
 ['Assam', '2023', 4, 'Insurance', 23168, 38731734.0],
 ['Assam', '2024', 1, 'Insurance', 33097, 48107248.0],
 ['Assam', '2024', 2, 'Insurance', 22368, 34796603.0],
 ['Bihar', '2020', 2, 'Insurance', 2816, 595621.0],
 ['Bihar', '2020', 3, 'Insurance', 9733, 2161102.0],
 ['Bihar', '2020', 4, 'Insurance', 9913, 7860932.0],
 ['Bihar', '2021', 1, 'Insurance', 12554, 8796619.0],
 ['Bihar', '2021', 2, 'Insurance', 14301, 13301581.0],
 ['Bihar', '2021', 3, 'Insurance', 18030, 18234941.0],
 ['Bihar', '2021', 4, 'Insurance', 22456, 27313813.0],
 ['Bihar', '2022', 1, 'Insurance', 20253, 27755736.0],
 ['Bihar', '2022', 2, 'Insurance', 21892, 28212833.0],
 ['Bihar', '2022', 3, 'Insurance', 28511, 34704251.0],
 ['Bihar', '2022', 4, 'Insurance', 33895, 43914519.0],
 ['Bihar', '2023', 1, 'Insurance', 26929, 38746711.0],
 ['Bihar', '2023', 2, 'Insurance', 29212, 40354886.0],
 ['Bihar', '2023', 3, 'Insurance', 36550, 45832355.0],
 ['Bihar', '2023', 4, 'Insurance', 41447, 57624322.0],
 ['Bihar', '2024', 1, 'Insurance', 51592, 63844442.0],
 ['Bihar', '2024', 2, 'Insurance', 49101, 65285065.0],
 ['Chandigarh', '2020', 2, 'Insurance', 149, 29537.0],
 ['Chandigarh', '2020', 3, 'Insurance', 264, 70969.0],
 ['Chandigarh', '2020', 4, 'Insurance', 200, 153341.0],
 ['Chandigarh', '2021', 1, 'Insurance', 338, 238576.0],
 ['Chandigarh', '2021', 2, 'Insurance', 378, 310943.0],
 ['Chandigarh', '2021', 3, 'Insurance', 494, 469634.0],
 ['Chandigarh', '2021', 4, 'Insurance', 710, 835813.0],
 ['Chandigarh', '2022', 1, 'Insurance', 792, 1150932.0],
 ['Chandigarh', '2022', 2, 'Insurance', 1330, 1874959.0],
 ['Chandigarh', '2022', 3, 'Insurance', 1533, 1998439.0],
 ['Chandigarh', '2022', 4, 'Insurance', 1403, 2024528.0],
 ['Chandigarh', '2023', 1, 'Insurance', 1520, 2415574.0],
 ['Chandigarh', '2023', 2, 'Insurance', 1704, 2501107.0],
 ['Chandigarh', '2023', 3, 'Insurance', 1883, 2660630.0],
 ['Chandigarh', '2023', 4, 'Insurance', 1767, 3053934.0],
 ['Chandigarh', '2024', 1, 'Insurance', 1730, 3143984.0],
 ['Chandigarh', '2024', 2, 'Insurance', 1798, 3177315.0],
 ['Chhattisgarh', '2020', 2, 'Insurance', 1346, 279005.0],
 ['Chhattisgarh', '2020', 3, 'Insurance', 4702, 1393656.0],
 ['Chhattisgarh', '2020', 4, 'Insurance', 3757, 2249901.0],
 ['Chhattisgarh', '2021', 1, 'Insurance', 4712, 2620468.0],
 ['Chhattisgarh', '2021', 2, 'Insurance', 5055, 3813417.0],
 ['Chhattisgarh', '2021', 3, 'Insurance', 4676, 3568837.0],
 ['Chhattisgarh', '2021', 4, 'Insurance', 6029, 8229039.0],
 ['Chhattisgarh', '2022', 1, 'Insurance', 6612, 10139190.0],
 ['Chhattisgarh', '2022', 2, 'Insurance', 7008, 10119964.0],
 ['Chhattisgarh', '2022', 3, 'Insurance', 8849, 12119470.0],
 ['Chhattisgarh', '2022', 4, 'Insurance', 11994, 18137856.0],
 ['Chhattisgarh', '2023', 1, 'Insurance', 10460, 16577191.0],
 ['Chhattisgarh', '2023', 2, 'Insurance', 10514, 16389610.0],
 ['Chhattisgarh', '2023', 3, 'Insurance', 11927, 17838382.0],
 ['Chhattisgarh', '2023', 4, 'Insurance', 17300, 29704673.0],
 ['Chhattisgarh', '2024', 1, 'Insurance', 19579, 30083259.0],
 ['Chhattisgarh', '2024', 2, 'Insurance', 15724, 25935743.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2020',
  2,
  'Insurance',
  651,
  101029.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2020',
  3,
  'Insurance',
  257,
  65504.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2020',
  4,
  'Insurance',
  232,
  149513.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2021',
  1,
  'Insurance',
  467,
  285691.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2021',
  2,
  'Insurance',
  368,
  275638.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2021',
  3,
  'Insurance',
  360,
  273596.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2021',
  4,
  'Insurance',
  421,
  425384.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2022',
  1,
  'Insurance',
  493,
  720741.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2022',
  2,
  'Insurance',
  438,
  686857.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2022',
  3,
  'Insurance',
  707,
  983776.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2022',
  4,
  'Insurance',
  871,
  1272628.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2023',
  1,
  'Insurance',
  799,
  1215168.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2023',
  2,
  'Insurance',
  694,
  1058753.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2023',
  3,
  'Insurance',
  969,
  1333103.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2023',
  4,
  'Insurance',
  1207,
  1973867.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2024',
  1,
  'Insurance',
  1295,
  1908509.0],
 ['Dadra and Nagar Haveli and Daman and Diu',
  '2024',
  2,
  'Insurance',
  1008,
  1367259.0],
 ['Delhi', '2020', 2, 'Insurance', 11716, 1897480.0],
 ['Delhi', '2020', 3, 'Insurance', 7588, 1927285.0],
 ['Delhi', '2020', 4, 'Insurance', 9725, 8045442.0],
 ['Delhi', '2021', 1, 'Insurance', 12822, 9655261.0],
 ['Delhi', '2021', 2, 'Insurance', 13292, 10840929.0],
 ['Delhi', '2021', 3, 'Insurance', 16679, 15007079.0],
 ['Delhi', '2021', 4, 'Insurance', 34251, 36578331.0],
 ['Delhi', '2022', 1, 'Insurance', 28232, 35442069.0],
 ['Delhi', '2022', 2, 'Insurance', 26378, 31787281.0],
 ['Delhi', '2022', 3, 'Insurance', 35944, 41570160.0],
 ['Delhi', '2022', 4, 'Insurance', 48908, 60603173.0],
 ['Delhi', '2023', 1, 'Insurance', 45821, 61040038.0],
 ['Delhi', '2023', 2, 'Insurance', 41358, 54951108.0],
 ['Delhi', '2023', 3, 'Insurance', 47113, 58878500.0],
 ['Delhi', '2023', 4, 'Insurance', 56336, 77332401.0],
 ['Delhi', '2024', 1, 'Insurance', 53050, 76232346.0],
 ['Delhi', '2024', 2, 'Insurance', 46189, 68046072.0],
 ['Goa', '2020', 2, 'Insurance', 341, 71100.0],
 ['Goa', '2020', 3, 'Insurance', 683, 196864.0],
 ['Goa', '2020', 4, 'Insurance', 614, 682364.0],
 ['Goa', '2021', 1, 'Insurance', 879, 827384.0],
 ['Goa', '2021', 2, 'Insurance', 1016, 1028339.0],
 ['Goa', '2021', 3, 'Insurance', 1214, 1385986.0],
 ['Goa', '2021', 4, 'Insurance', 2087, 2737316.0],
 ['Goa', '2022', 1, 'Insurance', 2634, 3865245.0],
 ['Goa', '2022', 2, 'Insurance', 3524, 5093510.0],
 ['Goa', '2022', 3, 'Insurance', 3157, 4142108.0],
 ['Goa', '2022', 4, 'Insurance', 4388, 6190669.0],
 ['Goa', '2023', 1, 'Insurance', 4097, 5859549.0],
 ['Goa', '2023', 2, 'Insurance', 4166, 5930801.0],
 ['Goa', '2023', 3, 'Insurance', 3927, 5646054.0],
 ['Goa', '2023', 4, 'Insurance', 4883, 7411001.0],
 ['Goa', '2024', 1, 'Insurance', 5225, 7528093.0],
 ['Goa', '2024', 2, 'Insurance', 5021, 7178558.0],
 ['Gujarat', '2020', 2, 'Insurance', 7697, 1430591.0],
 ['Gujarat', '2020', 3, 'Insurance', 12525, 3335812.0],
 ['Gujarat', '2020', 4, 'Insurance', 9990, 6055037.0],
 ['Gujarat', '2021', 1, 'Insurance', 12673, 7288104.0],
 ['Gujarat', '2021', 2, 'Insurance', 14676, 10263998.0],
 ['Gujarat', '2021', 3, 'Insurance', 15348, 12341903.0],
 ['Gujarat', '2021', 4, 'Insurance', 19142, 23282921.0],
 ['Gujarat', '2022', 1, 'Insurance', 22221, 29953433.0],
 ['Gujarat', '2022', 2, 'Insurance', 25381, 32090965.0],
 ['Gujarat', '2022', 3, 'Insurance', 31302, 37557227.0],
 ['Gujarat', '2022', 4, 'Insurance', 36418, 50629325.0],
 ['Gujarat', '2023', 1, 'Insurance', 32600, 46937694.0],
 ['Gujarat', '2023', 2, 'Insurance', 32484, 46254095.0],
 ['Gujarat', '2023', 3, 'Insurance', 51049, 65768085.0],
 ['Gujarat', '2023', 4, 'Insurance', 41128, 66735446.0],
 ['Gujarat', '2024', 1, 'Insurance', 44665, 62633910.0],
 ['Gujarat', '2024', 2, 'Insurance', 44007, 63866463.0],
 ['Haryana', '2020', 2, 'Insurance', 6321, 1179814.0],
 ['Haryana', '2020', 3, 'Insurance', 7139, 1884868.0],
 ['Haryana', '2020', 4, 'Insurance', 8283, 5974278.0],
 ['Haryana', '2021', 1, 'Insurance', 11038, 7297880.0],
 ['Haryana', '2021', 2, 'Insurance', 12516, 11272453.0],
 ['Haryana', '2021', 3, 'Insurance', 14163, 13215898.0],
 ['Haryana', '2021', 4, 'Insurance', 19489, 25885838.0],
 ['Haryana', '2022', 1, 'Insurance', 22783, 32526943.0],
 ['Haryana', '2022', 2, 'Insurance', 25352, 33759068.0],
 ['Haryana', '2022', 3, 'Insurance', 35346, 45402800.0],
 ['Haryana', '2022', 4, 'Insurance', 37971, 56627115.0],
 ['Haryana', '2023', 1, 'Insurance', 37287, 61127194.0],
 ['Haryana', '2023', 2, 'Insurance', 40710, 62186066.0],
 ['Haryana', '2023', 3, 'Insurance', 42815, 61782311.0],
 ['Haryana', '2023', 4, 'Insurance', 47506, 80747159.0],
 ['Haryana', '2024', 1, 'Insurance', 50391, 81816509.0],
 ['Haryana', '2024', 2, 'Insurance', 46085, 74779879.0],
 ['Himachal Pradesh', '2020', 2, 'Insurance', 392, 77936.0],
 ['Himachal Pradesh', '2020', 3, 'Insurance', 531, 165559.0],
 ['Himachal Pradesh', '2020', 4, 'Insurance', 710, 630966.0],
 ['Himachal Pradesh', '2021', 1, 'Insurance', 1064, 906492.0],
 ['Himachal Pradesh', '2021', 2, 'Insurance', 1210, 1402338.0],
 ['Himachal Pradesh', '2021', 3, 'Insurance', 1759, 2444545.0],
 ['Himachal Pradesh', '2021', 4, 'Insurance', 2474, 4667661.0],
 ['Himachal Pradesh', '2022', 1, 'Insurance', 2768, 5234739.0],
 ['Himachal Pradesh', '2022', 2, 'Insurance', 2831, 5371078.0],
 ['Himachal Pradesh', '2022', 3, 'Insurance', 3641, 6161692.0],
 ['Himachal Pradesh', '2022', 4, 'Insurance', 4565, 9060436.0],
 ['Himachal Pradesh', '2023', 1, 'Insurance', 3909, 7826133.0],
 ['Himachal Pradesh', '2023', 2, 'Insurance', 4197, 8499425.0],
 ['Himachal Pradesh', '2023', 3, 'Insurance', 3935, 7869767.0],
 ['Himachal Pradesh', '2023', 4, 'Insurance', 5211, 11898824.0],
 ['Himachal Pradesh', '2024', 1, 'Insurance', 5430, 10433254.0],
 ['Himachal Pradesh', '2024', 2, 'Insurance', 5194, 10008705.0],
 ['Jammu & Kashmir', '2020', 2, 'Insurance', 206, 48484.0],
 ['Jammu & Kashmir', '2020', 3, 'Insurance', 441, 133339.0],
 ['Jammu & Kashmir', '2020', 4, 'Insurance', 647, 734861.0],
 ['Jammu & Kashmir', '2021', 1, 'Insurance', 1105, 1546288.0],
 ['Jammu & Kashmir', '2021', 2, 'Insurance', 1197, 1832089.0],
 ['Jammu & Kashmir', '2021', 3, 'Insurance', 1452, 2139133.0],
 ['Jammu & Kashmir', '2021', 4, 'Insurance', 3113, 5223317.0],
 ['Jammu & Kashmir', '2022', 1, 'Insurance', 3584, 7244267.0],
 ['Jammu & Kashmir', '2022', 2, 'Insurance', 4071, 7729792.0],
 ['Jammu & Kashmir', '2022', 3, 'Insurance', 4794, 8281826.0],
 ['Jammu & Kashmir', '2022', 4, 'Insurance', 5031, 10111183.0],
 ['Jammu & Kashmir', '2023', 1, 'Insurance', 4555, 10275877.0],
 ['Jammu & Kashmir', '2023', 2, 'Insurance', 5262, 10974839.0],
 ['Jammu & Kashmir', '2023', 3, 'Insurance', 5453, 10975874.0],
 ['Jammu & Kashmir', '2023', 4, 'Insurance', 6264, 13932309.0],
 ['Jammu & Kashmir', '2024', 1, 'Insurance', 7313, 14695182.0],
 ['Jammu & Kashmir', '2024', 2, 'Insurance', 7397, 14237707.0],
 ['Jharkhand', '2020', 2, 'Insurance', 2063, 405031.0],
 ['Jharkhand', '2020', 3, 'Insurance', 5368, 1349934.0],
 ['Jharkhand', '2020', 4, 'Insurance', 3659, 2857024.0],
 ['Jharkhand', '2021', 1, 'Insurance', 4879, 3274851.0],
 ['Jharkhand', '2021', 2, 'Insurance', 5180, 5084230.0],
 ['Jharkhand', '2021', 3, 'Insurance', 6794, 7046048.0],
 ['Jharkhand', '2021', 4, 'Insurance', 8465, 11190423.0],
 ['Jharkhand', '2022', 1, 'Insurance', 9373, 13819466.0],
 ['Jharkhand', '2022', 2, 'Insurance', 9477, 13464840.0],
 ['Jharkhand', '2022', 3, 'Insurance', 14388, 18156857.0],
 ['Jharkhand', '2022', 4, 'Insurance', 16779, 23147805.0],
 ['Jharkhand', '2023', 1, 'Insurance', 16108, 23823406.0],
 ['Jharkhand', '2023', 2, 'Insurance', 16662, 23216215.0],
 ['Jharkhand', '2023', 3, 'Insurance', 19478, 25165702.0],
 ['Jharkhand', '2023', 4, 'Insurance', 22398, 33484644.0],
 ['Jharkhand', '2024', 1, 'Insurance', 24824, 34332990.0],
 ['Jharkhand', '2024', 2, 'Insurance', 22224, 32245129.0],
 ['Karnataka', '2020', 2, 'Insurance', 27358, 4794150.0],
 ['Karnataka', '2020', 3, 'Insurance', 53701, 12407394.0],
 ['Karnataka', '2020', 4, 'Insurance', 31747, 26814968.0],
 ['Karnataka', '2021', 1, 'Insurance', 37595, 30183325.0],
 ['Karnataka', '2021', 2, 'Insurance', 40969, 39501006.0],
 ['Karnataka', '2021', 3, 'Insurance', 47468, 48078366.0],
 ['Karnataka', '2021', 4, 'Insurance', 74436, 90723288.0],
 ['Karnataka', '2022', 1, 'Insurance', 95640, 130733580.0],
 ['Karnataka', '2022', 2, 'Insurance', 93385, 123228632.0],
 ['Karnataka', '2022', 3, 'Insurance', 110273, 144605784.0],
 ['Karnataka', '2022', 4, 'Insurance', 133971, 185063287.0],
 ['Karnataka', '2023', 1, 'Insurance', 127376, 186543426.0],
 ['Karnataka', '2023', 2, 'Insurance', 117232, 175704013.0],
 ['Karnataka', '2023', 3, 'Insurance', 139699, 199448538.0],
 ['Karnataka', '2023', 4, 'Insurance', 156076, 248056311.0],
 ['Karnataka', '2024', 1, 'Insurance', 169357, 264708700.0],
 ['Karnataka', '2024', 2, 'Insurance', 142599, 239304982.0],
 ['Kerala', '2020', 2, 'Insurance', 1588, 360216.0],
 ['Kerala', '2020', 3, 'Insurance', 8811, 2830361.0],
 ['Kerala', '2020', 4, 'Insurance', 5479, 4445525.0],
 ['Kerala', '2021', 1, 'Insurance', 5731, 5040506.0],
 ['Kerala', '2021', 2, 'Insurance', 9530, 9676588.0],
 ['Kerala', '2021', 3, 'Insurance', 10926, 13255646.0],
 ['Kerala', '2021', 4, 'Insurance', 19199, 31260319.0],
 ['Kerala', '2022', 1, 'Insurance', 37110, 64172190.0],
 ['Kerala', '2022', 2, 'Insurance', 35667, 59920203.0],
 ['Kerala', '2022', 3, 'Insurance', 54587, 85390924.0],
 ['Kerala', '2022', 4, 'Insurance', 65563, 103982997.0],
 ['Kerala', '2023', 1, 'Insurance', 62377, 101786828.0],
 ['Kerala', '2023', 2, 'Insurance', 61032, 100620604.0],
 ['Kerala', '2023', 3, 'Insurance', 66059, 110021582.0],
 ['Kerala', '2023', 4, 'Insurance', 73543, 121905046.0],
 ['Kerala', '2024', 1, 'Insurance', 73106, 115101791.0],
 ['Kerala', '2024', 2, 'Insurance', 65271, 108142369.0],
 ['Ladakh', '2020', 2, 'Insurance', 14, 2538.0],
 ['Ladakh', '2020', 3, 'Insurance', 33, 10260.0],
 ['Ladakh', '2020', 4, 'Insurance', 27, 34206.0],
 ['Ladakh', '2021', 1, 'Insurance', 32, 34530.0],
 ['Ladakh', '2021', 2, 'Insurance', 46, 86251.0],
 ['Ladakh', '2021', 3, 'Insurance', 192, 174052.0],
 ['Ladakh', '2021', 4, 'Insurance', 76, 195966.0],
 ['Ladakh', '2022', 1, 'Insurance', 75, 193935.0],
 ['Ladakh', '2022', 2, 'Insurance', 113, 269446.0],
 ['Ladakh', '2022', 3, 'Insurance', 137, 369742.0],
 ['Ladakh', '2022', 4, 'Insurance', 162, 410091.0],
 ['Ladakh', '2023', 1, 'Insurance', 161, 495736.0],
 ['Ladakh', '2023', 2, 'Insurance', 215, 635831.0],
 ['Ladakh', '2023', 3, 'Insurance', 232, 649027.0],
 ['Ladakh', '2023', 4, 'Insurance', 242, 718967.0],
 ['Ladakh', '2024', 1, 'Insurance', 291, 614435.0],
 ['Ladakh', '2024', 2, 'Insurance', 415, 964349.0],
 ['Lakshadweep', '2020', 3, 'Insurance', 4, 1199.0],
 ['Lakshadweep', '2021', 1, 'Insurance', 4, 5225.0],
 ['Lakshadweep', '2021', 2, 'Insurance', 5, 6962.0],
 ['Lakshadweep', '2021', 3, 'Insurance', 19, 16034.0],
 ['Lakshadweep', '2021', 4, 'Insurance', 11, 17096.0],
 ['Lakshadweep', '2022', 1, 'Insurance', 27, 34664.0],
 ['Lakshadweep', '2022', 2, 'Insurance', 18, 27463.0],
 ['Lakshadweep', '2022', 3, 'Insurance', 38, 41504.0],
 ['Lakshadweep', '2022', 4, 'Insurance', 15, 27135.0],
 ['Lakshadweep', '2023', 1, 'Insurance', 26, 30199.0],
 ['Lakshadweep', '2023', 2, 'Insurance', 15, 38384.0],
 ['Lakshadweep', '2023', 3, 'Insurance', 12, 12407.0],
 ['Lakshadweep', '2023', 4, 'Insurance', 53, 78346.0],
 ['Lakshadweep', '2024', 1, 'Insurance', 15, 12935.0],
 ['Lakshadweep', '2024', 2, 'Insurance', 26, 33630.0],
 ['Madhya Pradesh', '2020', 2, 'Insurance', 6283, 1198701.0],
 ['Madhya Pradesh', '2020', 3, 'Insurance', 14476, 3496126.0],
 ['Madhya Pradesh', '2020', 4, 'Insurance', 10653, 4897124.0],
 ['Madhya Pradesh', '2021', 1, 'Insurance', 14427, 5567927.0],
 ['Madhya Pradesh', '2021', 2, 'Insurance', 14803, 9787391.0],
 ['Madhya Pradesh', '2021', 3, 'Insurance', 11990, 7806258.0],
 ['Madhya Pradesh', '2021', 4, 'Insurance', 15069, 17524432.0],
 ['Madhya Pradesh', '2022', 1, 'Insurance', 13791, 19901462.0],
 ['Madhya Pradesh', '2022', 2, 'Insurance', 14629, 20159098.0],
 ['Madhya Pradesh', '2022', 3, 'Insurance', 22733, 29185118.0],
 ['Madhya Pradesh', '2022', 4, 'Insurance', 29234, 42712883.0],

In [108]:
aggre_insurance.columns

Index(['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [ ]:
#sql connection
mydb= mysql.connector.connect(host= "localhost",
                              user= "root",                        
                              password= "root",
                              database= "phonepe_data"
)
cursor= mydb.cursor()

#aggregated_transaction
create_query_2= '''CREATE TABLE if not exists aggregated_transaction(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Transaction_type varchar(255),
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_2)
mydb.commit()

insert_query_2= '''INSERT INTO aggregated_transaction(States, Years, Quarter,Transaction_type,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= agg_transaction.values.tolist()
cursor.executemany(insert_query_2, data)
mydb.commit()

#aggregated_user
create_query_3= '''CREATE TABLE if not exists aggregated_user(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Brands varchar(255),
                                                     Transaction_count bigint,
                                                     Percentage bigint)'''

cursor.execute(create_query_3)
mydb.commit()

insert_query_3= '''INSERT INTO aggregated_user(States, Years, Quarter,Brands,
                                                     Transaction_count,
                                                     Percentage)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= aggre_user.values.tolist()
cursor.executemany(insert_query_3, data)
mydb.commit()

#map_insurance
create_query_4= '''CREATE TABLE if not exists map_insurance(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Districts varchar(255),
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_4)
mydb.commit()

insert_query_4= '''INSERT INTO map_insurance(States, Years, Quarter,Districts,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= map_insurance.values.tolist()
cursor.executemany(insert_query_4, data)
mydb.commit()

#map_transaction
create_query_5= '''CREATE TABLE if not exists map_transaction(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Districts varchar(255),
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_5)
mydb.commit()

insert_query_5= '''INSERT INTO map_transaction(States, Years, Quarter,Districts,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= map_transaction.values.tolist()
cursor.executemany(insert_query_5, data)
mydb.commit()

#map_user
create_query_6= '''CREATE TABLE if not exists map_user(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Districts varchar(255),
                                                     RegisteredUsers bigint,
                                                     AppOpens bigint)'''

cursor.execute(create_query_6)
mydb.commit()

insert_query_6= '''INSERT INTO map_user(States, Years, Quarter,Districts,
                                                     RegisteredUsers,
                                                     AppOpens)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= map_transaction.values.tolist()
cursor.executemany(insert_query_6, data)
mydb.commit()

#top_insurance
create_query_7= '''CREATE TABLE if not exists top_insurance(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Pincodes int,
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_7)
mydb.commit()

insert_query_7= '''INSERT INTO top_insurance(States, Years, Quarter,Pincodes,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= top_insurance.values.tolist()
cursor.executemany(insert_query_7, data)
mydb.commit()

#top_transaction
create_query_8= '''CREATE TABLE if not exists top_transaction(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Pincodes int,
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_8)
mydb.commit()

insert_query_8= '''INSERT INTO top_transaction(States, Years, Quarter,Pincodes,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= top_transaction.values.tolist()
cursor.executemany(insert_query_8, data)
mydb.commit()

#top_user
create_query_9= '''CREATE TABLE if not exists top_user(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Pincodes int,
                                                     Registeredusers bigint
                                                     )'''

cursor.execute(create_query_9)
mydb.commit()

insert_query_9= '''INSERT INTO top_user(States, Years, Quarter,Pincodes,
                                                     Registeredusers
                                                     )
                                                     
                                                     values(%s,%s,%s,%s,%s)'''

data= top_user.values.tolist()
cursor.executemany(insert_query_9, data)
mydb.commit()

In [12]:
mydb= mysql.connector.connect(host= "localhost",
                              user= "root",                        
                              password= "root",
                              database= "phonepe_data"
)
cursor= mydb.cursor()

#top_transaction
create_query_8= '''CREATE TABLE if not exists top_transaction(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Pincodes int,
                                                     Transaction_count bigint,
                                                     Transaction_amount bigint)'''

cursor.execute(create_query_8)
mydb.commit()

insert_query_8= '''INSERT INTO top_transaction(States, Years, Quarter,Pincodes,
                                                     Transaction_count,
                                                     Transaction_amount)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= top_transaction.values.tolist()
cursor.executemany(insert_query_8, data)
mydb.commit()

In [119]:
agg_transaction.columns

Index(['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [23]:
#sql connection
mydb= mysql.connector.connect(host= "localhost",
                              user= "root",                        
                              password= "root",
                              database= "phonepe_data"
)
cursor= mydb.cursor()

#top_user
create_query_9= '''CREATE TABLE if not exists top_user(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Pincodes int,
                                                     Registeredusers bigint
                                                     )'''

cursor.execute(create_query_9)
mydb.commit()

insert_query_9= '''INSERT INTO top_user(States, Years, Quarter,Pincodes,
                                                     Registeredusers
                                                     )
                                                     
                                                     values(%s,%s,%s,%s,%s)'''

data= top_user.values.tolist()
cursor.executemany(insert_query_9, data)
mydb.commit()

In [136]:
top_user.columns

Index(['States', 'Years', 'Quarter', 'Pincodes', 'Registeredusers'], dtype='object')

In [24]:
#sql connection
mydb= mysql.connector.connect(host= "localhost",
                              user= "root",                        
                              password= "root",
                              database= "phonepe_data"
)
cursor= mydb.cursor()

#aggregated_user
create_query_3= '''CREATE TABLE if not exists aggregated_user(States varchar(255),
                                                     Years int,
                                                     Quarter int,
                                                     Brands varchar(255),
                                                     Transaction_count bigint,
                                                     Percentage FLOAT)'''

cursor.execute(create_query_3)
mydb.commit()

insert_query_3= '''INSERT INTO aggregated_user(States, Years, Quarter,Brands,
                                                     Transaction_count,
                                                     Percentage)
                                                     
                                                     values(%s,%s,%s,%s,%s,%s)'''

data= aggre_user.values.tolist()
cursor.executemany(insert_query_3, data)
mydb.commit()

In [18]:
aggre_user.columns

Index(['States', 'Years', 'Quarter', 'Brands', 'Transaction_count',
       'Percentage'],
      dtype='object')

In [23]:
print(aggre_user.head())  # Check the first few rows
print(aggre_user.dtypes)

              States Years  Quarter   Brands  Transaction_count  Percentage
0  Andaman & Nicobar  2018        1   Xiaomi               1665    0.247033
1  Andaman & Nicobar  2018        1  Samsung               1445    0.214392
2  Andaman & Nicobar  2018        1     Vivo                982    0.145697
3  Andaman & Nicobar  2018        1     Oppo                501    0.074332
4  Andaman & Nicobar  2018        1  OnePlus                332    0.049258
States                object
Years                 object
Quarter                int64
Brands                object
Transaction_count      int64
Percentage           float64
dtype: object